[submodule "tools/TinderBox-Mac"]
	path = tools/TinderBox-Mac
	url = git://github.com/cinder/TinderBox-Mac.git
[submodule "tools/TinderBox-Win"]
	path = tools/TinderBox-Win
	url = git://github.com/cinder/TinderBox-Win.git
[submodule "boost"]
	path = boost
	url = git://github.com/cinder/Cinder-Boost.git
[submodule "blocks/Pockets"]
	path = blocks/Pockets
	url = https://github.com/sansumbrella/Pockets.git
[submodule "blocks/suBox2D"]
	path = blocks/suBox2D
	url = https://github.com/sansumbrella/suBox2D.git
[submodule "blocks/Cinder-Asio"]
	path = blocks/Cinder-Asio
	url = https://github.com/sansumbrella/Cinder-Asio.git
